
<h2>Traceroute Query</h2>
<h4>Select servers to see traceroute data<h4>
<p id="notice"><%= notice %></p>
  <%= form_tag( handle_render_traceroute_path ) do %>

  <div class ="selectors">    
  	<div class="row">
  		<div class="span4">
  			<h5>Server (src):</h5>
  		</div>
  		<div class="span4">
  			<h5>Server (dst):</h5>
  		</div>
  		<div class="span4">
  			<h5>Request Type:</h5>
  		</div>
  	</div>

	<div class="row">
	    <div class="span4">
	    <%=select("Server", "1", @servers.collect {|s| [s.hostname, s.id]}, {:include_blank => '--Select a server--'}) %>
	    </div>

	    <div class="span4">
	    <%=select("Server", "2", @servers.collect {|s| [s.hostname, s.id]}, {:include_blank => '--Select a server--'}) %>
	    </div>

	    <div class="span4">
	    <%=select("Requesttype", "3", ["BWCTL", "OWAMP", "TRACEROUTE"], {:include_blank => '--Select request type--'}) %>
		</div>
	</div>
</div>


  <br />
  	<%=submit_tag('Route', :id => 'route', :class =>'btn btn-primary')  %>
  <br />

<% end %>

 


