
<h2>Traceroute Query</h2>
<h4>Select servers to see traceroute data<h4>
<p id="notice"><%= notice %></p>
  <%= form_tag( handle_render_traceroute_path ) do %>

  <div class ="selectors">    
    <div class="row">
      <div class="span4">
        <h5>Request Type:</h5>
      </div>
      <div class="span4">
        <h5>Server (src):</h5>
      </div>
      <div class="span4">
        <h5>Server (dst):</h5>
      </div>
      <div class="span4">
        <h5>Timeframe:</h5>
      </div>
    </div>

  <script>
  function selectHelper() {
    console.log("selecthelper hitted")
    var typeList = document.getElementById("Requesttype_3");
    var selectedType = typeList.options[typeList.selectedIndex].text

    timeOptions = []

    $("#s2id_Server_1").select2("enable");
    $("#s2id_Server_2").select2("enable")
    $("#Timeframe_4").select2("enable")

    document.getElementById("Server_1").disabled = false
    document.getElementById("Server_2").disabled = false
    document.getElementById("Timeframe_4").disabled = false

    if (selectedType == "TRACEROUTE") {

      var newData = [{id:0,text:'1 hour'},{id:1,text:'4 hours'},{id:2,text:'12 hours'},{id:3,text:'24 hours'}]
      $("#Timeframe_4").select2("data", newData)

      var newOptions = {"1 hour": "1",
        "4 hours": "1",
        "12 hours": "12",
        "24 hours": "24"
      };

      var $el = $("#Timeframe_4");
      $el.empty(); // remove old options
      $.each(newOptions, function(key, value) {
        $el.append($("<option></option>")
           .attr("value", value).text(key));
      });
    }
    else if (selectedType == "OWAMP") {
      var newData = [{id:0,text:'4 hours'},{id:1,text:'12 hours'},{id:2,text:'24 hours'},{id:3,text:'1 week'}]
      $("#Timeframe_4").select2("data", newData)

      var newOptions = {
        "4 hours": "4",
        "12 hours": "12",
        "24 hours": "24",
        "1 week": "168"
      };

      var $el = $("#Timeframe_4");
      $el.empty(); // remove old options
      $.each(newOptions, function(key, value) {
        $el.append($("<option></option>")
           .attr("value", value).text(key));
      });
    }
    else if (selectedType == "BWCTL") {
      var newData = [{id:0,text:'1 month'},{id:1,text:'3 months'}]
      $("#Timeframe_4").select2("data", newData)

      var newOptions = {"1 month": "731",
      "3 months": "1461"
      };

      var $el = $("#Timeframe_4");
      $el.empty(); // remove old options
      $.each(newOptions, function(key, value) {
        $el.append($("<option></option>")
           .attr("value", value).text(key));
      });
    }
    else {
      $("#s2id_Server_1").select2("disable");
      $("#s2id_Server_2").select2("disable")
      $("#s2id_Timeframe_4").select2("disable")

      document.getElementById("Server_1").disabled = true
      document.getElementById("Server_2").disabled = true
      document.getElementById("Timeframe_4").disabled = true
    }

  }

  </script>

  <div id="selectors" class="row">

      <div class="span4">
      <%=select("Requesttype", "3", ["BWCTL", "OWAMP", "TRACEROUTE"], {:include_blank => '--Select request type--'}, {:onchange => 'selectHelper()'}) %>
      </div>
        
      <div class="span4">
      <%=select("Server", "1", @servers.collect {|s| [s.hostname, s.id]}, {:include_blank => '--Select a server--'}, {:disabled => true}) %>
      </div>

      <div class="span4">
      <%=select("Server", "2", @servers.collect {|s| [s.hostname, s.id]}, {:include_blank => '--Select a server--'}, {:disabled => true}) %>
      </div>

      <div class="span4">
      <%=select("Timeframe", "4", ["1","2","3"], {:include_blank => '--Select a server--'}, {:disabled => true}) %>
      </div>
  </div>
</div>

<script>

</script>


  <br />
    <%=submit_tag('Route', :id => 'route', :class =>'btn btn-primary')  %>
  <br />

<% end %>

 


