<h1>Select servers to perform traceroute</h1>

  <%= form_tag( handle_render_traceroute_path ) do %>

  	<%=select("Server", "1", @servers.collect {|s| [s.ip, s.id]}, {:include_blank => '--Select a server--'}) %>

  	<%=select("Server", "2", @servers.collect {|s| [s.ip, s.id]}, {:include_blank => '--Select a server--'}) %>

	<br />
	<%=submit_tag 'Route', :id => 'route'	 %>
	<br />

<% end %>

<%= gmaps4rails(@json) %>
