<p id="notice"><%= notice %></p>

<p>
  <b>Hostname:</b>
  <%= @server.hostname %>
</p>

<p>
  <b>Ip:</b>
  <%= @server.ip %>
</p>



<%= link_to('Edit', edit_server_path(@server), :class =>'btn btn-primary')%>
<%= link_to('Delete', server_path(@server), :id => 'delete_server', :class => 'btn', :method => :delete, :confirm =>'Are you sure?') %>
<%= link_to('Back', servers_path, :class => 'btn') %>
