<!DOCTYPE html>
<html>
<head>
  <title>PerfSONAR</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
    	<div class="navbar-inner">
    		<a class="brand">PerfSONAR</a>
    		<ul class="nav">
    			<li><a href="servers">Server List</a></li>
    			<li><a href="traceroutes">Traceroute Query</a></li>
    			<% if current_user %>
    				<li><%= link_to "Edit Profile", users_path%></li>
    				<li><%= link_to "Logout", :logout %></li>
  				<% else %>
  	    			<li><%= link_to "Register", new_user_path %></li>
    				<li><%= link_to "Login", :login %></li>
 	 			<% end %>
    		</ul>
    	</div>
    </div>
  <div class="frame">
  	<%= yield %>
	<%= yield :scripts %>    
  </div>
</body>
</html>
