<!DOCTYPE html>
<html>
<head>
  <title>perfSONAR</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<div class="navbar navbar-inverse">
    	<div class="navbar-inner">
    		<a class="brand">perfSONAR</a>
    		<ul class="nav">
    			<li><%= link_to "Servers", servers_path %></li>
    			<li><%= link_to "Query", traceroutes_path %></li>
    			<% if current_user %>
    				<li><%= link_to("View Profile", users_path, :id => "view_profile")%></li>
    				<li><%= link_to("Logout", :logout, :id => "logout") %></li>
  				<% else %>
  	    			<li><%= link_to "Register", new_user_path %></li>
    				<li><%= link_to("Login", :login, :id => "login") %></li>
 	 			<% end %>
    		</ul>
    	</div>
    </div>
  <div class="frame">

<%= yield %>
<%= yield :scripts %>    

</div>

</body>
</html>

