<!DOCTYPE html>
<html>
<head>
  <title>PerfSONAR</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse">
    	<div class="navbar-inner">
    		<a class="brand">PerfSONAR</a>
    		<ul class="nav">
    			<li><a href="servers">Server List</a></li>
    			<li><a href="traceroutes">Traceroute Query</a></li>
    			<% if current_user %>
    				<li><%= link_to "Edit Profile", users_path%></li>
    				<li><%= link_to "Logout", :logout %></li>
  				<% else %>
  	    			<li><%= link_to "Register", new_user_path %></li>
    				<li><%= link_to "Login", :login %></li>
 	 			<% end %>
    		</ul>
    	</div>
    </div>
  <div class="frame">

  	<%= yield %>
	<%= yield :scripts %>    
<div id="viz"></div>
<% if request.path_parameters.has_value?('traceroutes') %>
    <p> Graph of unrealistic data </p>

    <script type="text/javascript">

var dataset = [],
    i = 0;    

for(i=0; i<5; i++){
    dataset.push(Math.random()*100);
}    

var sampleSVG = d3.select("#viz")
    .append("svg")
    .attr("width", 500)
    .attr("height", 300); 

   var node = sampleSVG.selectAll("node")
    .data(dataset)
    .enter().append("circle")
    .style("stroke", "gray")
    .style("fill", "white")
    
    .attr("r", 30)
    .attr("cx", function(d, i){return i*90+40})
    .attr("cy", 70)
    .text(function(d, cx) { return cx; })
    .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
    .on("mouseout", function(){d3.select(this).style("fill", "white");})
    .on("mousedown", animateFirstStep);

 node.append("title")
       .text(function(d) { return d; });

function animateFirstStep(){
    d3.select(this)
      .transition()            
        .delay(0)            
        .duration(1000)
        .attr("r", 10)
        .style("fill", "steelblue")
       
        .each("end", animateSecondStep);
};

function animateSecondStep(){
    d3.select(this)
      .transition()
        .duration(1000)
        .attr("r", 35);
};

    </script>
<% end %>

  </div>


</body>
</html>

